- name: Copy filebrowser files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/filebrowser/
  loop:
    - docker-compose.yml
    - filebrowser.json

- name: Restart filebrowser service
  include_role:
    name: restart-service
  vars:
    service_name: "filebrowser"