- name: Copy github-runner files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/github-runner/
  loop:
    - docker-compose.yml
    - Dockerfile
    - entrypoint.sh

- name: Copy github-runner secrets files in
  copy: 
    src: secrets
    dest: /home/ansible-user/github-runner/home

- name: Copy service secrets files in
  copy: 
    src: "../{{ item }}/files/secrets"
    dest: /home/ansible-user/github-runner/service-secrets/{{ item }}
  loop:
    - traefik
    - keycloak
    - portainer
    - database
    - scripts
    - homepage
    - gemini-cli
    - tunnel

- name: Restart github-runner service
  include_role:
    name: restart-service
  vars:
    service_name: "github-runner"