- name: Copy github-runner files in
  copy: 
    src: github-runner/{{ item }}
    dest: /home/ansible-user/github-runner/
  loop:
    - docker-compose.yml
    - Dockerfile
    - entrypoint.sh

- name: Copy github-runner secrets files in
  copy: 
    src: github-runner/secrets
    dest: /home/ansible-user/github-runner/home


- name: Copy service secrets files in
  copy: 
    src: "{{ item }}/secrets"
    dest: /home/ansible-user/github-runner/service-secrets/{{ item }}
  loop:
    - traefik
    - keycloak
    - portainer
    - service-database
    - scripts
    - homepage
    - gemini-cli
    - tunnel
    - wiregaurd

- name: Remove github-runner
  shell: cd github-runner && docker compose down && docker compose rm
  ignore_errors: yes

- name: Setup github-runner
  shell: cd github-runner && docker compose up -d