- name: Create directories
  ansible.builtin.file:
    path: /home/ansible-user/database
    state: directory

- name: Copy .env files in
  copy: 
    src: secrets/{{ item }}
    dest: /home/ansible-user/database/
  loop:
    - .env
  
- name: Copy docker compose file
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/database/
  loop:
    - docker-compose.yml
    - schema.sql

- name: Restart database service
  include_role:
    name: restart-service
  vars:
    service_name: "database"