- name: Copy portainer docker-compose.yml
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/portainer/
  loop:
    - docker-compose.yml

- name: Copy TLS Certs
  copy: 
    src: secrets/{{ item }}
    dest: /home/ansible-user/portainer/secrets/
  loop:
    - tls.crt
    - tls.key

- name: Restart portainer service
  include_role:
    name: restart-service
  vars:
    service_name: "portainer"