- name: Copy traefik files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/traefik/
  loop:
    - docker-compose.yml
    - secrets/.env
  
- name: Create directories
  ansible.builtin.file:
    path: /home/ansible-user/traefik/traefik_data
    state: directory

- name: Create directories {{ item }}
  ansible.builtin.file:
    path: /home/ansible-user/traefik/traefik_data/{{ item }}
    state: directory
  loop:
    - certs
    - dynamic

- name: Copy certs
  copy: 
    src: secrets/certs/{{ item }}
    dest: /home/ansible-user/traefik/traefik_data/certs
  loop:
    - tls.crt
    - tls.key

- name: Copy traefik_dynamic.yml
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/traefik/traefik_data/dynamic
  loop:
    - traefik_dynamic.yml

- name: Create external traefik network
  shell: docker network create traefik
  ignore_errors: yes

- name: Restart traefik service
  include_role:
    name: restart-service
  vars:
    service_name: "traefik"