- name: Copy tunnel files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/tunnel/
  loop:
    - docker-compose.yml
    - secrets/.env

- name: Restart tunnel service
  include_role:
    name: restart-service
  vars:
    service_name: "tunnel"