- name: Copy grafana docker-compose.yml
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/lnm/
  loop:
    - docker-compose.yml

- name: Restart lnm service
  include_role:
    name: restart-service
  vars:
    service_name: "lnm"