- name: Copy n8n files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/n8n/
  loop:
    - docker-compose.yml
  
- name: Create directories {{ item }}
  ansible.builtin.file:
    path: /home/ansible-user/n8n/{{ item }}
    state: directory
  loop:
    - n8n_data
    - saved_data

- name: Change mounted volume permissions
  shell: chown -R 1000:1000 /home/ansible-user/n8n/{{ item }} && chmod -R 755 /home/ansible-user/n8n/{{ item }}
  loop:
    - n8n_data
    - saved_data

- name: Restart n8n service
  include_role:
    name: restart-service
  vars:
    service_name: "n8n"