- name: Create directories
  ansible.builtin.file:
    path: /home/ansible-user/homepage/config
    state: directory

- name: Copy config files in
  copy: 
    src: config/{{ item }}
    dest: /home/ansible-user/homepage/config
  loop:
    - services.yaml
    - settings.yaml
    - bookmarks.yaml

- name: Copy .env files in
  copy: 
    src: secrets/{{ item }}
    dest: /home/ansible-user/homepage/
  loop:
    - .env
  
- name: Copy docker compose file
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/homepage/
  loop:
    - docker-compose.yml

- name: Restart homepage service
  include_role:
    name: restart-service
  vars:
    service_name: "homepage"