- name: Copy keycloak files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/keycloak/
  loop:
    - docker-compose.yml
    - secrets/.env
  
- name: Create directories {{ item }}
  ansible.builtin.file:
    path: /home/ansible-user/keycloak/{{ item }}
    state: directory
  loop:
    - data
    - data/import

- name: Copy realm.json file to the volume
  copy: 
    src: secrets/realm.json
    dest: /home/ansible-user/keycloak/data/import

- name: Change mounted volume permissions
  shell: chown -R 1000:1000 /home/ansible-user/keycloak/{{ item }} && chmod -R 755 /home/ansible-user/keycloak/{{ item }}
  loop:
    - data

- name: Restart keycloak service
  include_role:
    name: restart-service
  vars:
    service_name: "keycloak"