name: Deploy to Homelab
description: Deploy Services to Homelab
run-name: ${{ github.actor }} is running the workflow
on:
  workflow_dispatch:
jobs:
  run-playbook:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Copy secrets
        run: cp -r /home/github-runner/secrets ./secrets

      - name: Copy service secrets
        run: |
          for service in /home/service-secrets/*; do
          if [ -d "$service" ]; then
            service_name=$(basename "$service")
            mkdir -p "playbooks/$service_name/files"
            cp -r "$service"/* "playbooks/$service_name/files"
          fi
            done
          
      - name: Run setup
        run: make setup