- name: Copy ollama files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/ollama/
  loop:
    - docker-compose.yml
    - entrypoint.sh

- name: Restart ollama service
  include_role:
    name: restart-service
  vars:
    service_name: "ollama"