- name: Copy gemini-cli files in
  copy: 
    src: "{{ item }}"
    dest: /home/ansible-user/gemini-cli/
  loop:
    - docker-compose.yml
    - Dockerfile
    - settings.json
    - secrets/.env

- name: Create directories {{ item }}
  ansible.builtin.file:
    path: /home/ansible-user/gemini-cli/{{ item }}
    state: directory
  loop:
    - app

- name: Restart gemini-cli service
  include_role:
    name: restart-service
  vars:
    service_name: "gemini-cli"